<app-generic-forms-tab
  [responses]="enrolment.formResponses"
  [activeTemplates]="activeTemplates"
  [canManage]="canManage"
  [allowStaffSubmit]="false"
  [contactName]="enrolment.firstName + ' ' + enrolment.lastName"
  [contactEmail]="enrolment.email"
  [contactMobile]="enrolment.mobile"
  [busy]="busy"
  (requestForm)="onRequestForm($event)"
  (saveAnswers)="onSaveAnswers($event)"
  (withdraw)="onWithdraw($event)"
  (archive)="onArchive($event)"
  (reopen)="onReopen($event)"
  (setStatus)="onSetStatus($event)"
  (exportPdf)="onExportPdf($event)"
  (openDocument)="onOpenDocument($event)">
</app-generic-forms-tab>
