<div class="table-responsive">
  <table datatable [dtOptions]="compatOptions" [dtTrigger]="compatTrigger" [class]="tableClass">
    <thead class="table-light">
      <tr>
        <th *ngFor="let col of columns" [ngClass]="col.className">
          {{ col.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns" [ngClass]="col.className">

          <!-- Status column -->
          <ng-container *ngIf="col.field === 'status'; else notStatus">
            <span class="badge" [ngClass]="getStatusBadgeClass(getCellData(row, col.field, col.formatter))">
              {{ getCellData(row, col.field, col.formatter) }}
            </span>
          </ng-container>

          <!-- Actions column -->
          <ng-template #notStatus>
            <ng-container *ngIf="col.field === 'actions'; else defaultCell">
              <div class="row-actions">
                <button *ngFor="let ra of rowActions" [ngClass]="ra.cssClass || 'btn btn-sm btn-outline-primary'"
                  (click)="actionClick.emit({ action: ra.action, row })">
                  <i *ngIf="ra.icon" class="fas {{ ra.icon }} me-1"></i>{{ ra.label }}
                </button>
              </div>
            </ng-container>
          </ng-template>

          <!-- Default cell -->
          <ng-template #defaultCell>
            <span *ngIf="col.render; else plainText" [innerHTML]="col.render(getCellData(row, col.field), row)"></span>
            <ng-template #plainText>{{ getCellData(row, col.field, col.formatter) }}</ng-template>
          </ng-template>

        </td>
      </tr>
    </tbody>
  </table>
</div>