<p-dialog
  [visible]="true"
  [modal]="true"
  [style]="{ width: dialogWidth }"
  [closable]="false"
  [closeOnEscape]="false"
  [dismissableMask]="false"
>
  <ng-template #header>
    <div class="modal-header-generic">
      <h5 class="modal-title-generic">{{ title }}</h5>
      <button type="button" class="modal-close-generic" [disabled]="isSaving" (click)="onCloseClick()" aria-label="Close">&times;</button>
    </div>
  </ng-template>

  <fieldset [disabled]="isSaving" class="modal-body-generic">
    <ng-content></ng-content>
  </fieldset>

  <ng-template #footer>
    <div class="modal-footer-generic">
      <p-button *ngIf="showDelete" [label]="deleteLabel" icon="fas fa-trash" severity="danger" [outlined]="true" [disabled]="isSaving" (onClick)="onDeleteClick()" />
      <p-button *ngIf="showCancel" [label]="cancelLabel" severity="secondary" [disabled]="isSaving" (onClick)="onCancelClick()" />
      <p-button *ngIf="showUpdate" [label]="isSaving ? savingLabel : updateLabel" [loading]="isSaving" [disabled]="saveDisabled" (onClick)="onUpdateClick()" />
      <p-button *ngIf="showSave" [label]="isSaving ? savingLabel : saveLabel" [loading]="isSaving" [disabled]="saveDisabled" (onClick)="onSaveClick()" />
    </div>
  </ng-template>
</p-dialog>
